# Ignore everything
**

# Allow files and directories
!target/release/refinery
!target/debug/refinery
!target/aarch64-unknown-linux-gnu/release/refinery
!target/aarch64-unknown-linux-gnu/debug/refinery
